<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<display-name>RegisterServlet</display-name>
		<description></description>
		<servlet-class>com.facebookweb.controller.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description></description>
		<servlet-class>com.facebookweb.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SuccessLogin</servlet-name>
		<display-name>SuccessLogin</display-name>
		<description></description>
		<servlet-class>com.facebookweb.controller.SuccessLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Viewprofilesevelet</servlet-name>
		<display-name>Viewprofilesevelet</display-name>
		<description></description>
		<servlet-class>com.facebookweb.controller.Viewprofilesevelet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Viewcustomerservelet</servlet-name>
		<display-name>Viewcustomerservelet</display-name>
		<description></description>
		<servlet-class>com.facebookweb.controller.Viewcustomerservelet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteProfile</servlet-name>
		<display-name>DeleteProfile</display-name>
		<description></description>
		<servlet-class>com.facebookweb.controller.DeleteProfile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Deleteprofile</servlet-name>
		<display-name>Deleteprofile</display-name>
		<description></description>
		<servlet-class>com.facebookweb.controller.Deleteprofile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Editservelet</servlet-name>
		<display-name>Editservelet</display-name>
		<description></description>
		<servlet-class>com.facebookweb.controller.Editservelet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SuccessLogin</servlet-name>
		<url-pattern>/SuccessLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Viewprofilesevelet</servlet-name>
		<url-pattern>/Viewprofilesevelet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Viewcustomerservelet</servlet-name>
		<url-pattern>/Viewcustomerservelet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteProfile</servlet-name>
		<url-pattern>/DeleteProfile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Deleteprofile</servlet-name>
		<url-pattern>/Deleteprofile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Editservelet</servlet-name>
		<url-pattern>/Editservelet</url-pattern>
	</servlet-mapping>
</web-app>